@import "../../styles/constants";

$background-shadow-darkness: 0.5;

.hero {
  display: flex;
  flex: 1;
  flex-direction: column;
  position: relative;
  min-height: 675px;

  &.violet {
    .hero-background {
      background-color: $theme-violet;
    }
  }

  &.teal {
    .hero-background {
      background-color: $theme-teal;
    }
  }

  &.pink {
    .hero-background {
      background-color: $theme-pink;
    }
  }

  .hero-container {
    display: flex;
    flex: 1;
    position: relative;
  }

  .hero-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
  }

  .top-gradient {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 35%;
    background: linear-gradient(to bottom, rgba($theme-pink, $background-shadow-darkness) 0%, rgba($theme-pink, 0) 100%);
    background-blend-mode: multiply;
    mix-blend-mode: multiply;
  }

  .bottom-gradient {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 35%;
    background: linear-gradient(to bottom, rgba($theme-pink, 0) 0%, rgba($theme-pink, $background-shadow-darkness) 100%);
    background-blend-mode: multiply;
    mix-blend-mode: multiply;
  }

  .hero-background-image {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-size: cover;
    opacity: 0.5;
  }
}