
// Grays
$theme-extra-light-gray: #FAFAFA;
$theme-light-gray: #F4F5F9;
$theme-medium-light-gray: #E2E2E2;
$theme-medium-gray: #8E8E8E;
$theme-dark-gray: #242424;

// Blues
$theme-medium-blue: #556089;
$theme-dark-blue: #0E1326;

// TODO remove this
$sketch-font-multiplier: 0.5;

$h1-default-font-size: 40pt;
$h2-default-font-size: 27pt;
$h3-default-font-size: 20pt;

$paragraph-default-font-size: 16pt;