
// Grays
$theme-extra-light-gray: #FAFAFA;
$theme-light-gray: #F4F5F9;
$theme-medium-light-gray: #E2E2E2;
$theme-medium-gray: #8E8E8E;
$theme-dark-gray: #242424;

// Blues
$theme-medium-blue: #556089;

$sketch-font-multiplier: 0.5;