@font-face {
  font-family: 'Tajawal Light';
  src: url('assets/fonts/Tajawal/Tajawal-Light.ttf') format('ttf');
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: 'Tajawal Medium';
  src: url('assets/fonts/Tajawal/Tajawal-Medium.ttf') format('ttf');
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: 'PT Serif';
  src: url('assets/fonts/PT_Serif/PT_Serif-Web-Regular.ttf') format('ttf');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'PT Serif';
  src: url('assets/fonts/PT_Serif/PT_Serif-Web-Bold.ttf') format('ttf');
  font-style: normal;
  font-weight: bold;
}

$tajawal-light-font-family: 'Tajawal Light', sans-serif;
$tajawal-medium-font-family: 'Tajawal Medium', sans-serif;
$pt-serif-font-family: 'PT Serif', serif;