@import "../../styles/constants";
@import "../../styles/fonts";

.case-study {
  position: relative;
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 50px;
  text-align: center;
  padding-top: 175px;

  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -1;
  }

  .section-title h2 {
    font-family: $tajawal-light-font-family;
    font-size: $h2-default-font-size;
    color: $theme-medium-blue;
    border-bottom: 9px solid $theme-medium-blue;
    display: inline;
  }

  .case-study-title h1 {
    font-family: $pt-serif-font-family;
    font-size: $h1-default-font-size;
    font-weight: bold;
    color: $theme-medium-blue;
    margin: 45px 0;
  }

  .case-study-keywords {
    list-style: none;
    padding: 0;
    margin: 0;

    h4 {
      font-family: $tajawal-medium-font-family;
      font-size: $h4-default-font-size;
      font-weight: normal;
      color: $theme-medium-blue;
      text-align: center;
      margin: 0;
    }
  }

  .case-study-description {
    max-width: 475px;
    margin-top: 45px;

    p {
      font-family: $tajawal-medium-font-family;
      font-size: $paragraph-default-font-size;
      color: $theme-medium-blue;
      text-align: center;
      margin: 0;

      em {
        font-weight: bold;
      }

      span {
        display: block;
        margin-top: 15px;
      }
    }
  }

  .case-study-image {
    position: relative;
    max-width: 45%;

    img {
      width: 100%;
    }
  }
}