@import "../../styles/fonts";
@import "../../styles/constants";

.hero-post-excerpt {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  padding-bottom: 45px;

  &.violet {
    .title-link {
      &:hover, &:active, &:focus {
        .title {
          color: $theme-violet;
        }
      }
    }
  }

  &.teal {
    .title-link {
      &:hover, &:active, &:focus {
        .title {
          color: $theme-teal;
        }
      }
    }
  }

  &.pink {
    .title-link {
      &:hover, &:active, &:focus {
        .title {
          color: $theme-pink;
        }
      }
    }
  }

  .column-layout {
    align-items: flex-start;
  }

  .timestamp {
    margin-bottom: 15px;
    font-family: $crimsonTextFontFamily;
    font-weight: 100;
    font-size: 13pt * $sketchFontMulitplier;
    letter-spacing: 2.5px;
    color: #fff;
    text-transform: uppercase;
  }

  .category {
    margin-top: 0px;
    margin-bottom: 1px;
    font-family: $tajawalLightFontFamily;
    font-weight: bold;
    font-size: 20pt * $sketchFontMulitplier;
    color: #fff;
  }

  .title-link {
    text-decoration: none;
    max-width: 750px;

    .title {
      color: #fff;
      display: inline;
      margin: 0;
      font-family: $crimsonTextFontFamily;
      font-size: 48pt * $sketchFontMulitplier;
      font-weight: 100;
      line-height: 1.37em;
    }

    &:hover, &:active, &:focus {
      .title {
        background-color: #fff;
      }
    }
  }

  .author {
    margin-top: 15px;
    font-family: $tajawalLightFontFamily;
    font-weight: bold;
    font-size: 13pt * $sketchFontMulitplier;
    color: #fff;
  }
}
