@import "../../styles/constants";
@import "../../styles/fonts";
@import "../../styles/media";

.header {
  position: relative;
  width: 100%;
  display: block;
  margin: 0 auto;
  padding-left: 35px;
  padding-right: 35px;

  .logo-container {
    margin: 0 auto;
    padding-top: 55px;
  }

  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;

    @include ipad-portrait {
      left: -75px;
      width: 200%;
    }

    @include ipad-landscape {
      left: -75px;
      width: 150%;
    }

    @include iphone-portrait {
      left: -65px;
      width: auto;
    }

    @include iphone-x-portrait {
      left: -65px;
      width: auto;
    }
  }

  .hero {
    position: relative;
    display: flex;
    flex: 1;
    margin-top: 100px;
    color: $theme-light-gray;
    

    h1 {
      font-family: $tajawal-medium-font-family;
      font-size: $h1-default-font-size;
    }

    p {
      font-family: $tajawal-medium-font-family;
      font-size: $paragraph-default-font-size;
    }

    @include iphone-x-portrait {
      margin-top: 50px;

      h1 {
        font-size: $h1-mobile-font-size;
      }
    }

    @include iphone-portrait {
      margin-top: 50px;

      h1 {
        font-size: $h1-mobile-font-size;
      }
    }

    p {
      font-size: $paragraph-mobile-font-size;
    }

    @include desktop-extra-wide-landscape {
      margin-top: 300px;
    }
  }

  .hero-left-side {
    display: flex;
    flex: 1;
    flex-direction: column;

    p {
      max-width: 350px;

      span {
        display: block;
        margin-top: 5px;
      }
    }
  }

  .hero-right-side {
    display: flex;
    flex: 1;
    justify-content: flex-end;

    svg {
      max-width: 400px;
      max-height: 400px;
    }
  }

  .contact-button {
    margin-top: 35px;
  }
}