@import "../../styles/constants";
@import "../../styles/fonts";
@import "../../styles/media";

.bottom-c2a {
  position: relative;
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 175px 40px 175px;
  
  h1 {
    font-family: $pt-serif-font-family;
    font-size: $h1-default-font-size;
    font-weight: bold;
    color: $theme-medium-blue;
    margin: 0;
  }

  p {
    font-family: $tajawal-medium-font-family;
    font-size: $paragraph-default-font-size;
    color: $theme-medium-blue;
    text-align: center;
  }

  @include iphone-x-portrait {
    h1 {
      font-size: $h1-mobile-font-size;
    }
  }
}