@import "../../styles/constants";
@import "../../styles/fonts";

.footer {
  position: relative;
  width: 100%;
  display: block;
  margin: 0 auto;
  padding-left: 35px;
  padding-right: 35px;

  .background {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
  }

  .footer-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    color: $theme-light-gray;
    margin: 0 auto;
  }

  .copyright-container {
    display: flex;
    flex: 1;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .copyright-text {
    font-family: $tajawal-light-font-family;
    font-weight: 100;
    font-size: 17pt * $sketch-font-multiplier;
    margin: 15px 0 5px 0;

    a {
      font-weight: bold;
      color: $theme-light-gray;
    }
  }

  .footer-attribution-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $tajawal-light-font-family;
    font-weight: 100;
    font-size: 13pt * $sketch-font-multiplier;
    padding-bottom: 15px;
    line-height: 1.5em;

    a {
      font-weight: bold;
      color: $theme-medium-gray;
      color: $theme-light-gray;
    }

    em {
      margin-right: 5px;
    }

    .seperator {
      margin-right: 5px;
      margin-left: 5px;
    }
  }
}
