@import "../../styles/constants";
@import "../../styles/fonts";
@import "../../styles/media";

.footer {
  position: relative;
  width: 100%;
  display: block;

  .background {
    width: 100%;
    height: auto;
    top: 5px;
    position: relative;

    @include iphone-x-portrait {
      height: 500px;
      width: auto;
    }
  }

  .footer-contents-wrap {
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 0;
    padding-left: 35px;
    padding-right: 35px;
  }

  .footer-contents {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    color: $theme-light-gray;
    margin: 0 auto;
    padding-bottom: 35px;
    position: relative;
  }

  .copyright-container {
    display: flex;
    flex: 1;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .copyright-text {
    font-family: $tajawal-light-font-family;
    font-weight: 100;
    font-size: $paragraph-default-font-size;
    margin: 15px 0 5px 0;

    a {
      font-weight: bold;
      color: $theme-light-gray;
    }
  }

  .footer-attribution-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $tajawal-light-font-family;
    font-weight: 100;
    font-size: $paragraph-default-font-size;
    padding-bottom: 15px;
    line-height: 1.5em;

    a {
      font-weight: bold;
      color: $theme-medium-gray;
      color: $theme-light-gray;
    }

    em {
      margin-right: 5px;
    }

    .seperator {
      margin-right: 5px;
      margin-left: 5px;
    }

    @include iphone-x-portrait {
      flex-direction: column;
      align-items: flex-start;

      .seperator {
        display: none;
      }
    }
  }
}
