@import "../../styles/constants";
@import "../../styles/fonts";

.contact-c2a-button {
  background-color: $theme-light-gray;
  height: 46px;
  width: 226px;
  font-family: $tajawal-medium-font-family;
  font-size: $button-default-font-size;
  color: $theme-medium-blue;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 7px 15px rgba($theme-dark-blue, 0.23);
  border-radius: 6px;
  border: 0;
  outline: 0;
  padding-top: 8px;
  text-decoration: none;
  transition: 0.3s transform ease-in-out, 0.3s box-shadow ease-in-out, 0.3s background-color ease-in-out;

  &.dark {
    background-color: $theme-medium-blue;
    color: $theme-light-gray;
  }

  &:hover, &:focus, &:active {
    transform: translateY(-5px);
    box-shadow: 0px 7px 35px rgba($theme-dark-blue, 0.47);
    background-color: rgba($theme-light-gray, 0.95);
  }
}